@import '../../style/variables';

.list {
  $gap: 20px;

  display: flex;
  flex-wrap: wrap;

  padding: $gap 0 0 $gap;

  .list-item,
  .list-add-button {
    margin: 0 $gap $gap 0;
  }
}

.list-add-button {
  border: 1px solid $gray;

  input,
  button {
    width: 100%;
    height: 100%;
  }

  input {
    display: block;
  }

  button {
    color: $gray;
    background-color: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
  }
}
